*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bin/node_modules/*
bin/*.json
bin/reverse_dynamo
bin/test_binary
.ruby-gemset
.ruby-version
